:root {
    --color-white: #FFFFFF;
    --color-f8f8: #F8F8F8;
    --color-c7c7: #C7C7C7;
    --color-8585: #858585;
    --color-5959: #595959;
    --color-3333: #333333;

    --color-fbee: #FBEECE;
    --color-eaee: #EAEECA;
}